<div class="flex flex-col sm:flex-row myt-20">
  <div class="m-4 p-2 sm:w-2/3">
    <%= user_avatar(current_user, 100, "avatar avatar--navigation") %>
    <h1 class="text-2xl text-yellow mb-1">Hello <%= current_user.first_name %>,</h1>
    <p class="text-xl text-grey-dark mb-8">Hope you are having a great <%= DateTime.now.strftime("%A") %>!</p>
    <p class="text-xl text-yellow mb-8">Challenges Started</p>
    <% for challenge in current_user.user_actions.map(&:challenge) do %>         
      <%= link_to challenge do %>
        <div class="card card--light card--horizontal mt-8 mb-8 max-w-md">
         <div class="card__image bg-grey-darkest" > <%= image_tag challenge.attachment.variant(resize: "400x400").processed %></div>

          <div class="card__content w-full">
            <h3 class="mb-4 text-xl font-semibold text-grey-darker"><%= challenge.title %></h3>
            <ol class="mb-4 text-lg text-grey-darker">
              <% for step in challenge.challenge_steps %>
                <li class="">
                  <span class="flex justify-between">
                  <%= step.title %>
                  <% if current_user.started_step?(step) %><span class="flash-modern__badge flash-modern__badge--alert">Finish</span>
                  <% elsif current_user.completed_step?(step) %>
                    <% if current_user.approved_step?(step)  %>
                      <span class="flash-modern__badge text-geen">Done!</span>
                    <% else %>
                      <span class="flash-modern__badge flash-modern__badge--pending">Pending</span>
                    <% end %>
                  <% end %>
                  </span>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
     <% end %>
    <% end %>
  </div>
  <div class="m-4 p-2 sm:w-1/3 bg-grey-darkest sm:rounded-l">
    <h2 class="text-lg font-semibold text-blue-lightest">Overview<span class="ml-2 font-black">This week</span></h2>

    <div class="flex justify-between">
      <div class="w-1/3 text-center py-8 px-4">
        <span class="block text-3xl font-black leading-none text-blue-lightest"><%= current_user.completed_challenges %></span>
        <span class="text-base text-blue-lighter">Completed Challenges</span>
      </div>
      <div class="w-1/3 text-center py-8 px-4">
        <span class="block text-3xl font-black leading-none text-blue-lightest"><%= current_user.user_actions.completed.count %></span>
        <span class="text-base text-blue-lighter">Completed Steps</span>
      </div>
      <div class="w-1/3 text-center py-8 px-4">
        <span class="block text-3xl font-black leading-none text-blue-lightest"><%= current_user.user_actions.approved.count %></span>
        <span class="text-base text-blue-lighter">Approved Steps</span>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-row">
  <div class="sm:ml-4 p-4 sm:w-2/3">
    <h2 class="text-lg font-semibold text-yellow">Notifications</h2>

    <div class="flex flex-col sm:flex-row sm:items-center justify-between py-4 border-b border-grey-light">
      <div class="flex items-center sm:w-1/2">
        <span class="flex items-center justify-center flex-no-shrink w-10 h-10 text-xl font-black uppercase text-blue-lightest bg-blue border-2 border-blue-lightest rounded-full">M</span>
        <h3 class="mb-0 text-lg ml-2 mr-2 text-white">Great Stuff!</h3>
      </div>

      <p class="mb-0 text-sm font-semibold uppercase tracking-wide text-grey-dark">Monday, 9th. 14:00h</p>
  
    </div>

    <div class="flex flex-col sm:flex-row sm:items-center justify-between py-4 border-b border-grey-light">
      <div class="flex items-center sm:w-1/2">
        <span class="flex items-center justify-center flex-no-shrink w-10 h-10 text-xl font-black uppercase text-indigo-lightest bg-indigo border-2 border-indigo-lightest rounded-full">P</span>
        <h3 class="mb-0 text-lg ml-2 mr-2 text-white">Love it!</h3>

      </div>
      <p class="mb-0 text-sm font-semibold uppercase tracking-wide text-grey-dark">Tuesday, 10th. 8:00h</p>

    </div>

    <div class="flex flex-col sm:flex-row sm:items-center justify-between py-4 border-b border-grey-light">
      <div class="flex items-center sm:w-1/2">
        <span class="flex items-center justify-center flex-no-shrink w-10 h-10 text-xl font-black uppercase text-pink-lightest bg-pink border-2 border-pink-lightest rounded-full">X</span>
        <h3 class="mb-0 text-lg ml-2 mr-2 text-white">Go for it!</h3>

      </div>
      <p class="mb-0 text-sm font-semibold uppercase tracking-wide text-grey-dark">Friday, 13th. 18:00h</p>
    </div>
  </div>
</div>

