<% content_for :page_title, "Log in. #{Rails.configuration.application_name}." %>
<% content_for :page_description, "Log in to True.ink " %>
<div class="flex justify-center h-screen items-center" style="background-color: #22292f; background-image:linear-gradient(to bottom, transparent, #22292f),url('<%= asset_pack_path('images/true-bgnd.jpg') %>'); background-repeat: no-repeat;">
  <div class="">
    
    <div class="flex mt-8  flex-col text-white justify-center contents-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>

    <%= render "shared/flash", flash: resource.errors %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field flex items-center">
        <%= f.check_box :remember_me, class: "tgl tgl-light" %>
        <label class="tgl-btn" for="user_remember_me"></label>
        <label for="user_remember_me" class="ml-2">remember me</label>
      </div>
    <% end -%>

    <div class="text-center">
      <%= f.submit "Log in", class: "border border-yellow hover:bg-grey-darkest hover:border-white text-yellow hover:text-white py-3 px-6 m-3 uppercase text-xs tracking-wide rounded-full bg-transparent" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
        
    </div>
  </div>
</div>



