<nav class="nav justify-center"  data-controller="navigation">
  <% if controller.controller_name == "challenges"  %>
  <div class="w-12 h-12">
    <%= render 'shared/smart_backlink' %>
  </div>
  <% end %>
  <%= link_to root_path, class: "nav__logo" do %>
    <%= image_tag asset_pack_path('images/truelogopng.png') %>
  <% end %>
    <div class="w-12 h-12">
      <% if @challenge %>
        <% if current_user.started_challenge?(@challenge) %>
          <% if @user_actions.approved.present? %>
            <%= link_to step_path(@user_actions.approved.last.challenge_step.next) do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="fill-current text-yellow w-10 h-10" aria-hidden="true"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"/></svg>
            <% end %>
          <% else %>
            <%= link_to step_path(@user_actions.active.first.challenge_step) do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="fill-current text-yellow w-10 h-10" aria-hidden="true"><path d="M18.629 15.997l-7.083-7.081L13.462 7l8.997 8.997L13.457 25l-1.916-1.916z"/></svg>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</nav>
